<div class="container-fluid">


    <app-top-header></app-top-header>
    <div class="audio-call">
        <div class="row">
            <app-sidebar></app-sidebar>
            <div class="col-md-1">
               
            </div>
            <!-- chats -->
            <div class="VIEWCHART col-md-3">
                <app-view-all-chat-details></app-view-all-chat-details>
            </div>
            <div class="HEADER col-md-5">
                <div class="VHead row">
                    <div class="col-2">
                        <div>
                            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img" />
                        </div>
                    </div>
                    <div class="col-4">
                        <h6>SAM Watson</h6>
                        <p><span class="small">Last seen at 2:25</span></p>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-1">
                        <a href=" "><i class="one fa-solid fa-video"></i></a>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-2">
                        <a href=" "><i class="fas fa-ellipsis-v icon-size"></i></a>
                    </div>
                </div>
                <div class="HAUDIO row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-2">
                                <i class="One fa-solid fa-phone-flip"></i>
                            </div>
                            <div class="col-5">
                                <h6>00:00:05s</h6>
                            </div>
                            <div class="col-5">
                                <i class="Two fa-solid fa-mobile-screen-button"></i>
                            </div>
                        </div>




                    </div>
                    <div class="col-1">
                        <span class="Seven"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-telephone-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z" />
                            </svg></span>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-2">

                            </div>

                            <div class="col-2">
                                <a href="/viewchat"><i class="Three fa fa-phone-square"> </i></a>
                            </div>
                            <div class="col-2">
                                <i class="Four fourth fa-solid fa-circle-pause"></i>
                            </div>
                            <div class="col-2">
                                <i class="Five fas fa-volume-mute"></i>
                            </div>
                            <div class="col-2">
                                <i class="Six fa-solid fa-microphone-lines-slash"></i>
                            </div>


                        </div>



                    </div>





                </div>
                <div>
                    <div class="docter-M">
                        <p class="text">Hai Sir !!</p>
                    </div>
                    <br /><br /><br />
                    <div class="patient-M">
                        <p class="text">Hello</p>
                    </div><br><br>

                    <div class="patient-M">
                        <a href=" "><i class="fas fa-play-circle  slide"><input type="range" min="1" max="100" value="1"
                                    class="range"></i></a>
                    </div>
                    <div class="report">
                        <a routerLink="/viewvitals">
                            <div class="card">
                                <h6>Bill Report.doc</h6>
                                <p>Card subtitle.Some quick example text to build on the card title and make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </a><br />

                    </div>
                    <div class="row patient-M1">
                        <div class="col-2">
                            <a href=" "><button type="button" class="btn-sqr"><i
                                        class="fas fa-headphones-alt"></i></button></a>
                        </div>
                        <div class="col-1">
                            <a href=" "><i class="fas fa-play-circle  slide"></i></a>
                        </div>
                        <div class="col-7">
                            <a href=" "><input type="range" min="1" max="100" value="1" class="range1"></a>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>

                </div>
                <div class="border1">
                    <div class="row message">
                        <div class="col-1">
                            <button type="button" class="btn-rounded" data-bs-toggle="collapse" data-bs-target="#demo"
                                aria-expanded="false" aria-controls="collapseExample"><i
                                    class="fas fa-paperclip icon"></i></button>
                        </div>
                        <div class="col-10">
                            <input type="text" class="border-0 color" placeholder="Type Something..." />
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn-rounded"><i class="fas fa-microphone icon"></i></button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="VIEWISSUES col-md-3">
                <app-viewissueshistory></app-viewissueshistory>
            </div>
        </div>
    </div>
</div>