<div class="col-2 sidebar">
    <span class="glyphicon glyphicon-align-left icon-color" style="  color: #dddddd; padding: 2px 8px 8px 16px;"></span>
    <a href="#"><span class="glyphicon glyphicon-stats icon-color"></span></a>
    <a href="#" class="active" style="background-color: white;color: black;"><span class="glyphicon glyphicon-user icon-color"></span></a>
    <a routerLink="viewchat"><span class="glyphicon glyphicon-comment icon-color"></span></a>
    <a href="#"><span class="glyphicon glyphicon-cog icon-color"></span></a>
   
 </div>
<div class="sidebar col-sm-2">
    <span class="icon1 glyphicon glyphicon-align-left icon-color"></span>
    <a routerLink="/dashboard"><span class="glyphicon glyphicon-stats icon-color"></span></a>
    <a routerLink="/viewallpatients"><span class="glyphicon glyphicon-user icon-color"></span></a>
    <a href="viewchat"><span class="glyphicon glyphicon-comment icon-color"></span></a>
    <a href="ViewEditAccountSettingComponent"><span class="glyphicon glyphicon-cog icon-color"></span></a>
</div>
