.appointment
{
    width: 850px;
    height: 1150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 215px;
    margin-top: 50px;
    background-color: whitesmoke;
    margin-right: 230px;
    right: 50px;
    
}
.sidebar{

    height: 100%;  
    width: 5%;
    height: 100%;
    width: 35%;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color:#18385c;
     padding-top: 14px;
    }
    .sidebar a{

        margin: 6px 10px 15px 6px;
        text-decoration: none;
       color: white;
        display: block;
    }
    .sidebar a:hover{
        color: rgb(76, 71, 71);
        border-color: #dddddd !important;
    }
     a:active{
       border-radius: 5px;
       color: black;
       background-color: #dddddd !important;

    }
    .header1{
        height:42px;
        width:100%;
        margin-top:1px;
        box-shadow: 0px 0px 10px 0px;
        background-color: white;
        //margin-left: 10px;
        //float:right;
      
      }
      .header2{
          float: right;
      }
      #list{
        margin-top: 12px;
      }
      #list1{
        font-size:xx-small;
      }
      #image{
        height:35px;
         width:35px;
         margin: 5px 10px 5px 5px;
      }
      .fixed{
        position: fixed;
        width: 100%;
        transition: 0.2s linear ;
        top: 0px;
      
      }
      .notfixed{
        position: static;
        transition: 0.2s linear;
        top:-50px;
      }
      