.icon-size {                    //for icon sizes
    font-size: 2em;
    padding-left:0.5cm;
}
.headersection{                     //for header sections
    margin-top: 2cm;
    padding-left:0.5cm
}
#v1{
border-left: 1px solid gray;
height: 70px;
margin-left: -70px;


}
#v5{
    border-left: 1px  solid gray;
    height: 70px;
    margin-left: -70px; 
    }

#v2{
    border-left: 1px solid gray;
    height: 30px;
    padding-left: -0.5px;
   
}

#r1{
    margin-left:1.5cm;
}
p{
    font-size: medium;
}
.blooddrop{                     //for blood drop icon
    font-size: 20px;
    color: red;
}
.icon-pading{              
    padding-left:0.5cm;
}
#main{               //for main card
    box-shadow: 0 2px 4px 0;
    
    margin-left: 42px;
    
 }
 .book{                         //for booking new appointment
    box-shadow: 0 2px 4px 0;
    width:max-content;
    height:max-content;
    padding-left: 10px;
    border-radius: 10%;
    

 }
 #plus-sign{         //for plus sign
    font-size:1cm
 }

 #para{                         //for paragraph
     font-size: 20px;
     padding-left: 5%;
     margin-left:15px;
     
 }
 #heder-slides{                           //for headersliders
    color:rgba(107, 101, 101, 0.411);

 }
 #imgid{                               // for image setup
    padding-left:1cm; 
    padding-top:0.1;
 }
 .blankspace{
 padding-left:20px;
 }
 #bloodGroup{
     font-size: 20px;
 }