
#div1{
    float:right;
    margin-top: 70px;
    border-radius: 15px 15px 15px 15px;
    border:solid 2px rgb(15, 15, 15);
    top: 60px;
    background-color: white;
    

}

#id1{
    font-size: 90px;
    padding-left: 5rem;
    color: white;
   
}
#id2{
    padding-left:20%;
    font-size:90px;
    color:white
}

#id3{
    padding-left: 10rem;
    border-left: 1px solid black;
    height:40px ;
}
#id4{
    margin-left: -8rem;
    position: left;
    height: 45px;
    
   
}
#in5
{
    width:500px;
    height:45px;
    background-color: rgb(44, 44, 109);
    color:white;
    font-size: 20px;
    border-radius:0px 0px 12px 12px;
   
    
    
}

#id7{
    font-size:20px;
    color:red
}
#id8{
    font-size: 45px;
    padding-left: 40px;
}
.sample5{
    color:rgb(243, 239, 239);
    font-size: 10rem;
    padding-left: 5%;
    }



