.vital2 h1 a{
    color:white;

  }
  .vital1 {
    text-align:center;
    padding-top:  2px;
    background-color:rgb(166, 218, 248);
    padding-right: 27%;
  }
  .filter{
    text-align: center;
    color:black;
    padding-top :2px;
  }
  .naresh1 p{
    margin-top:100%;
    color:#fff;
    font-size:40px;
    float:right;
    
  }
  .naresh2{
    text-align: right;
    // margin-left:30px;
    //margin-top:10%;
  }
  .bpm p{
    float:right;
    margin-top:100%
  }
  .cmd img{
    width:100%;

  }
  .vital{
    background-color:rgb(166, 218, 248);
  }
  .left{
    float:left; 
    font-size:450%; 
  }
  .heart{
    color:red;
  }
  .heart1 i{
    margin-right:10px;
  }
  .so{
    font-size:35px;
  }
  .nh1{
    float: right;
    margin-right: 0px;
  }
  .naresh{
    text-align:center;
    width:100%;
  }
  .naresh3{
    margin-top:200px;
    color:white;
    padding-right: 50%;

  }
#customRange11{
  width:50%;
  padding-left:100%;
}
.nh{
  margin-top: 30%;
  margin-left:15% ;
}
  
  