<div class="container-fluid">
    <div class="vital">

        <div class="vital2 row d-flex justify-content-center">
            <div class="col-2 d-flex justify-content-center">
                <h1 class="left"><a href=" "><i class="fa-solid fa-arrow-left"></i></a></h1>
            </div>

            <div class="col-8 d-flex justify-content-center">

                <div class="vital1">
                    <div>
                        <h4> SAM WATSON</h4>  
                    </div>
                    
                    <div class="heart1">
                        <h4>
                        <i class="fa-solid fa-heart heart"></i>
                        <span class="so">71</span>
                        BPM 50HZ Filter</h4>
                    </div>
                   <!-- <div class="col-1">
                        <h1>71</h1>
                    </div>

                    <div class="col-7" style="margin-top:10px;">
                        <h3>BPM 50HZ Filter</h3>
                    </div>
                    <div class="col-1"></div>-->
                </div> 
            </div>
            <div class="nh1 col-2 d-flex justify-content-center">

                <h4 class="nh"> need help?</h4>

            </div>
        </div>
        <div class="vital2 row">
            <div class="bpm col-2">
                <p>bpm</p>
            </div>

            <div class="cmd col-md-8">

                <img src="../../../../../assets/project.png (1).png">
            </div>
            <div class="naresh1 col-2">

                <p><i class="fa-solid fa-arrow-right"></i></p>

            </div>
        </div>
        <!-- <div class="naresh2 row">
            <div class="col-md-2">
                <div>
                    bpm
                </div>
                
            </div>
            <div class="cmd col-md-8 d-flex justify-content-center">
                 <img src="../../../../../assets/project.png.png">
            </div>
            <div class="naresh1 col-md-2">
                 <i class="fa-solid fa-arrow-right"></i>
                
            </div>
        </div><br> -->
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-9">
                <span> <input type="range" class="custom-range" id="customRange11" min="10"
                        max="50"></span>

            </div>
            <div class="col-1">
                10mm/v
            </div>
        </div>
    </div>
</div>
