.MainDiv{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 30px 30px;
    padding: 10px 14px;
    width: 465px;
    height: 250px;
    margin-top: 25px;
    margin-left: 18px;
   
}
h2{
    font-size: medium;
    font-family: "adobe-clean", sans-serif;
    
}
h1
{
    font-size: 25px;
    font-family: "adobe-clean", sans-serif;
    color: #18385c;
}
.Search{
    margin-left: 15PX;
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-family: "adobe-clean", sans-serif;
}
#demo{
    font-size: 15px;
}
.PAV{
    font-size: 15PX;
    background-color: whitesmoke;
}