<div class="MainDiv">
    <h1><b>Recommendation</b></h1>
    <h2><b>Search</b></h2>
    <div class="row">
        <div class="col-sm-6">
            <select (change)="Doctors($event)">
                <option value="Dr.susan light">{{recommendation[1].DoctorName}}</option>
                <option value="Dr.Thomas wayne">Dr.Thomas wayne</option>
                <option value="Dr.Roger Brooks">Dr.Roger Brooks</option>
                <option value="Dr.Robert shrute">Dr.Robert shrute</option>
             </select>
        </div>
        <div id="demo" class="col-sm-6">
            {{selected}}
        </div>
    </div>


