body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
.titleHeaders{
    font-size: 14px;
    color: #18385c;
}
.topHead{
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding: 0.5em;
    height: fit-content;
    margin-bottom: 1em;
}
.selectOptions{
    border: 0.5px solid gray;
    border-radius: 5px;
    width: 100%;
    padding: 0.1em;
    padding-left: 0.5em;
}
.container{
    border-radius: 10px;
    padding: 0.8em;
    background-color: lightgray;
    width: 100%;
    height: fit-content;
}
.scrollContainer{
    overflow-y: auto;
    height: 360px;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.scrollContainer::-webkit-scrollbar {
    /* Chrome */
    display: none;
}
.card{
    width: 100%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    border-radius: 10px;
    margin-left: 0.8em;
    margin-top: 2em;
    padding: 0.5em;
}
.card2{
    min-width: 240px;
    max-width: 240px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 2em;
    height: fit-content;
}
.navbar1{
    color: white;
    background: #18385c;
    padding: 1em;
    padding-left: 1.5em;
}
.count{
    font-size: 40px;
    font-weight: bolder;
}
.day{
    font-size: 35px;
    font-weight: bolder;
    opacity: 0.5;
    margin-left: 15px;
}
.heading{
    font-size: 20;
    font-weight: bold;
}
.filter{
    align-items: flex-end;
    text-align: right;
}
.addAppoint{
    cursor: pointer;
    border-radius: 4px;
    background: #18385c;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 30px;
    width: 200px;
    margin-left: 30px;
}
.date{
      border-radius: 25px;
      background: linear-gradient(to right, #18385c 50%, white 50%);
      width: 80px;
      height: 30px;  
      align-items: flex-end;
      text-align: center;
    }
img {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
.name{
    font-size: 12px;
    font-weight: bold;
}
.apTime{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 0.5em;
}
.apDate{
    font-size: 10px;
    font-weight: lighter;
    margin-top: -0.5em;
    margin-left: 1em;
    margin-right: -5em;
}
.apIssue{
    opacity: 0.5;
    font-size: 10px;
    margin-top: 1em;
    margin-left: 0.8em;
}
.details{
    color: blue;
    text-align: center;
    font-size: 12px;
    margin-top: -10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.vL {
  border-left: 1px solid black;
  height: 20px;
  opacity: 0.2;
}

.line{
  margin: 0px;
  margin-left: -30px;
}
.call{
    margin-right: 20px;
    margin-left: -10px;
}
.video{
    margin-left: -10px;
}
.vL2{
  border-left: 1px solid black;
  height: 40px;
  opacity: 0.2;
  margin-left: 20px;
}
.line2{
    margin: 0;
}
a{
    text-decoration: none;
}
.active{
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.5em;
    margin-right: -2em;
    margin-top: 1em;
}
.inActive{
    color: white;
    font-size: 15px;
    margin-top: 1.5em;
}
.rotate{
    transform: rotate(270deg);
}


chip {

    display: inline-block;

    padding: 0 25px;

    height: 50px;

    font-size: 16px;

    line-height: 50px;

    border-radius: 50px;

   

  }

 

  .chip img {

    float: left;

    margin: 0 10px 0 -25px;

    height: 50px;

    width: 50px;

    border-radius: 50%;

  }

  .closebtn {

    padding-left: 10px;

    color: #888;

    font-weight: bold;

    float: right;

    font-size: 20px;

    cursor: pointer;

  }

 

  .closebtn:hover {

    color: #000;

  }
  
  #Tbl{
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 100px;
  }
  
  h4,.chip,#Tbl,h5,#lb,.font_12{
      color: rgb(48, 52, 71);
  }
  .example-chip-list {
    width: 100%;
  }
  .pointer{
      cursor: pointer;
  }
  .sidebar{
    height: 100%;   
    width: 40px;
    height: 100%;
    width: 35px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #030741d5;
    padding-top: 14px;
   }
    .sidebar a{
       margin: 6px 10px 15px 6px;
       text-decoration: none;
       color: #dddddd;
       display: block;
   }
   .sidebar a:hover{
       color: rgb(76, 71, 71);
       border-color: #dddddd !important;
   }
    a:active{
      border-radius: 5px;
      color: black;
      background-color: #dddddd !important;
   }
    
   .icon1{
       color: #dddddd; 
       font-size: 15px;
       padding: 0px 8px 6px 6px;
     }
    
     span{
       font-size: 12px;
       margin-left: -8px;
     }
    .sidebar a{
    margin: 6px 10px 15px 6px;
    text-decoration: none;
    color: #dddddd;
    display: block;
    }
    .sidebar a:hover{
    color: rgb(76, 71, 71);
    border-color: #dddddd !important;
    }
    a:active{
    border-radius: 5px;
    color: black;
    background-color: #dddddd !important;
    }
    .icon1{
    color: #dddddd;
    font-size: 15px;
    padding: 0px 8px 6px 6px;
    }
    span{
    font-size: 12px;
    margin-left: -8px;
    }




    //csssidebar
    .sidebar{

        height: 100%;  
      
        width: 3%;
      
        height: 100%;
      
        width: 15%;
      
        position: fixed;
      
        z-index: 1;
      
        top: 0;
      
        left: 0;
      
        background-color:#18385c;
      
        padding-top: 14px;
      
       }
      .sidebar a{
           margin: 6px 5px 5px 6px;
      
           text-decoration: none;
      
           color: brown;
      
           display: block;
      
       }
      .sidebar a:hover
      {
      
           color: rgb(76, 71, 71);
      
           border-color: #dddddd !important;
      }
      a:active{
      
        border-radius: 5px;
      
        color: black;
      
        background-color: #dddddd !important;
      
      } 
      .icon1{
  
        color: #dddddd;
     
        font-size: 15px;
     
        padding: 0px 0px 0px 0px;
     
      }
     
     
     
      span{
     
        font-size: 12px;
     
        margin-left: -8px;
     
      }
     
     .sidebar a{
     
     margin: 6px 10px 15px 6px;
     
     text-decoration: none;
     
     color: #dddddd;
     
     display: block;
     
     }
    






/////////////////////////////////////////////////////////////////////
.b0{
    color:white;
}
#q1{
    background-color: navy ;
}
.b1{
    width: 20px; height:20px;margin-left: 40px;
}
.b2{
    width: 8px; height: 6px; margin-left: 20px;
}
.b3{
    width: 40px; height: 40px;
}
#b4{
    background-color: #eeeff0;
}
#b5{
    background-color:linear-gradient(white,white);
    color: cadetblue;
    border: 1px solid lightgray; 
    text-align: left;
    box-shadow: 2px 2px 3px #0e0b0b;
    border-radius: 15px; 
}
.b6{
    font-size: 35px; color: black;
}
.b7{
    float: right;color: gray; font-size: 30px; padding-right: 50%;
}
#b8{
    color: navy;
}
.b9{
    background-color: #030741d5;color: white;
}
.b10{
    width: 20px; height: 20px;
}
.a1{
    margin-left: 90%;
}
.a2{
    margin-top: 0%;
}
.a3{
    width: 40px;height: 40px;border-radius: 50%;
}
.a4{
    margin-left: 20%;
}
.a5{
    border: none;background-color: white;
}
.a6{
    width: 20px; transform: rotate(90deg);color: #0e0b0b;
}
.a7{
    margin-top: 0%;padding-left: 15px;text-align: left;font-size: 20px;color: rgb(77, 73, 73);
}
.a8{
    font-size: 10px;
}
.a9{
    width: 30px;color: black;transform:rotate(90deg);margin-top: 0%;
}
.a10{
    float: right;
    padding-right: 10%;
    font-size: 10px;
    color: lightslategray; 
}
.c0{
    font-size: 10px;color: blue; background-color: white; border-color: white;margin-top: 0px;
}
.c1{
    margin-left: 10%;
}
full-calendar{
   
    position: absolute;
    left:15%;
    margin-top:20%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color:white;

};