<div class="row">
  <div class="col-12 col-md-2">
    <div class="sidebar col-sm-2">
      <h2>
        <span class="icon1 glyphicon glyphicon-align-left icon-color">
          Connect My Doc</span>

        <a href="viewallappointment"><span class="glyphicon glyphicon-stats icon-color">
            Dashboard</span></a>

        <a routerLink="/viewallpatients"><span class="glyphicon glyphicon-user icon-color"> Patient</span></a>

        <a href="viewchat"><span class="glyphicon glyphicon-comment icon-color">
            ChatRoom</span></a>

        <a href="ViewEditAccountSettingComponent"><span class="glyphicon glyphicon-cog icon-color"> Settings</span></a>
      </h2>
    </div>
  </div>

  <div class="col-12 col-md-10">
    <div class="topHead">
      <div class="row">
        <div class="col-md-3 col-xl-3 col-xs-4 col-12" style="
            color: black;
            font-size: 25px;
            font-weight: bolder;
            margin-top: 0.2em;
          ">
          Appointments
        </div>
        <div class="col-md-2 col-xl-2 col-xs-4 col-12" style="margin-top: 0.5em"></div>
        <div class="col-md-2 col-xl-2 col-xs-4 col-12" style="margin-top: 0.5em">
          <!--<div class="selectOptions">
                      <i class="fas fa-stethoscope"></i>								
                      <select id="doctor" style="width:80%; height: 30px; border: none; font-size: 12px;">
                          <option value="Jhon Doe" selected>Jhon Doe</option>
                          <option value="">....</option>
                        </select>
                  </div>-->
        </div>
        <div class="col-md-2 col-xl-2 col-xs-4 col-12" style="margin-top: 0.5em"></div>
        <div class="col-md-3 col-xl-3 col-xs-4 col-12" style="text-align: right; margin-top: 0.5em">
          <a href="#">Logout</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill"
            viewBox="0 0 16 16">
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
          </svg>
          <select id="user" #select style="
              width: 80px;
              height: 28px;
              border: none;
              font-size: 10px;
              margin-left: 1em;
            ">
            <option value="Jhon Doe" selected>Jhon Doe</option>
          </select>
          <img id="image" src="../../../../assets/images/doctor.jpeg" alt="profile" class="img-circle"
            style="height: 25px; width: 25px" />
        </div>
      </div>
    </div>
    <div class="container" style="background-color: #eeeff0">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
          <div class="card">
            <span class="titleHeaders">AcceptedAppointments</span>
            <div class="mt-1">
              <span class="count">{{ AcceptedAppointments() }}</span>
              <span class="day">Today</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          <div class="card">
            <span class="titleHeaders">TotalAppointments</span>
            <div class="mt-1">
              <span class="count">{{ TotalAppointments() }}</span>
              <span class="day">Today</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          <div class="card">
            <span class="titleHeaders">Cancelled Appointments</span>
            <div class="mt-1">
              <span class="count">4</span>
              <span class="day">Today</span>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <!-- <div class="row p-0">
              <div class="col-xl-6 col-md-3 col-sm-6 col-12 heading">
                  All Appointments
              </div>
              <div class="col-xl-2 col-md-4 col-sm-6 col-4 filter">
                  <label for="filter">Filter:&nbsp;</label>
                  <select id="filter" style="width:80px; height: 30px; background-color: rgb(236, 236, 248);;">
                    <option value="all">All</option>
                    <option value="">....</option>
                  </select>
              </div>
              <div class="col-xl-4 col-md-4 col-sm-6 col-8 filter">
                  <div class="addAppoint pt-1">
                      + New Appointment
                  </div>
              </div> 
              
              
          </div> -->

      <nav class="navbar navbar-expand-lg navbar-light" id="b4">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#" id="b8">All Appointments</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                  </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
              </li>
            </ul>
            <form class="d-flex">
              <p>Filter:</p>
              <form>
                <select style="font-size: 10px">
                  <option value="All">All</option>
                  <option value="Confirmed">Confirmed</option>
                  <option value="Cancelled">Cancelled</option>
                  <option value="Closed">Closed</option>
                </select>
              </form>

              <button type="button" class="b9" routerLink="/AddAppoinments">
                <img src="https://th.bing.com/th/id/OIP.idwUkq8iJ2dFg28La8jt9AHaFk?pid=ImgDet&rs=1"
                  class="b10" />NewAppointment
              </button>
              <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-microsoft" viewBox="0 0 16 16">
                  <path
                    d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z" />
                </svg>
              </button>
              <button type="button" (click)="calendar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path
                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                  <path
                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </nav>
      <hr />
      <div class="row scrollContainer">
        <div class="col-md-3 card2" *ngFor="let appointment of getallappointments">
          <div class="row" style="margin-top: 0.5em">
            <div class="col-4">
              <img id="image" src="https://user.ptetutorials.com/images/user-profile.png" alt="profile"
                class="img-circle" style="height: 35px; width: 35px" />
            </div>
            <div class="col-8 mt-2">
              <span class="name">{{ appointment.patientName }}</span>
              <div class="row mt-3">
                <div class="col-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                    class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                    <path
                      d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                  </svg>
                </div>
                <div class="line col-1 mt-1">
                  <div class="vL"></div>
                </div>
                <div class="col-3 call">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                  </svg>
                </div>
                <div class="line col-1 mt-1">
                  <div class="vL"></div>
                </div>
                <div class="col-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                    class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-3">
              <div class="apTime">{{ appointment.appointmentTime }}</div>
              <div class="apDate">{{ appointment.appointmentDate }}</div>
            </div>
            <div class="line2 col-1 mt-1">
              <div class="vL2"></div>
            </div>
            <div class="col-7 apIssue">{{ appointment.issue }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 details" routerLink="/viewappointment">
              View Details
            </div>

            <div class="col-6 details" routerLink="/ViewFeedbackComponent">
              View Feedback
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>