// //page1
// nav
//   {
//     left: 0%;
//     width: 15%;
//    height: 70%; /* only for demonstration, should be removed */
//   text-align: center;
//    }
						          
//     article
//   {
//      right: 0%;
//        height: 79%;
//       width: 73%;               
//    /* only for demonstration, should be removed */
//         }
//         .t1{
//           position: absolute;
//           top: 8%;
//            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//           border-radius: 3%;
//           padding:1.7%;
        
//                       }
//     //    input{
//     //      border: none;
//     //           }
//     .f1{
//         border: none; 
//     }
//                p{
               
//                   position:absolute;     
//                    padding-left:90%;
//                   top:8%;
//                   height: 10%; 
//                   width: 10%;
                   
                  
//                     }
                   
//                     .content{
//                       position: absolute;
//                    left:12%;
//                     top: 8%;
//                     color: #686869;
//                     }
//               .parent {
//                 position: absolute;
//                top: 9%;
//                left: 3%;
//                width:28%; 
//                height:31%; 
                
//               }
//               .image1{
//                 position:absolute; 
//                width:20%; 
//                height:34%;
//                }
               
//                .now{
//                 position:absolute;
//                bottom:10%;
//                 right:53%;
                
//                }

              
//               .image2 {
//                 position: absolute;
//                 top: 20%;
//                 left: 12%;
//                 width:8%; 
//                 height:11%;
//               }
//               .section{
//                 position: absolute;
//                 transform: translate(-59%, -200%);
                   
//               }
//               .title{
                
//                 color:rgb(68, 109, 143);
//                 font-weight:bold;
//                 color:grey;
//               }
//               .tet{
//                 position: absolute;
//                color:#6c6cc9;
//                 font-size:110%;
//                 transform: translate(-50%, 50%);
//                 text-decoration: none;
//               }
              
//               .test{
//                 position: absolute;
//                 transform: translate(-52%, 300%);
//                 color:#aca8a8 ;
//                 font-size:100%;
//                 border-bottom: hidden;
//                text-decoration: none;
//               }

// //page2

// body
// {
//   font-family: Arial, Helvetica, sans-serif;
// }
// nav 
// {
//   float: left;
//   box-shadow: 0 4px 8px 0 rgba(59, 58, 58, 0.2);
//   border-radius: 3%;
//   width: 23%;
//   height: 560px;
//   padding: 1%;
// }
// article 
// {
//   float: right;
//   box-shadow: 0 4px 8px 0 rgba(59, 58, 58, 0.2);
//   border-radius: 2%;
//   padding:2%;
//   height: 560px;
//   width: 76%;
// }
// .parnt {
//   position: absolute;
//   top: 100;
//  right: 120;
// }



// input{
          
//           text-align: left;
          
//           }
//           ::-webkit-input-placeholder{
//             text-shadow: 5px;
//             color: #18385c;
//             font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//           }
        
    
//  i{
//           float: right;
//           padding-right:190px;
         
//       }

//       .image3{
//         position: relative;
//         top: 10px;
//         left: 10px;
//         z-index: 1;
//       }
//       .image4{
//         position: relative;
//         top: 20px;
//         right: 30px;
//         z-index: 1;
//       }
      
//       .button{
//         background-color:#18385c;
//         border-radius: 8px;
//         color:whitesmoke;
//         padding: 5px;
//         border-color: whitesmoke;
//         position: absolute;
//         top:10%;
//         left:90%;
//       }
// .contents{
//   text-align: left;
//  float:left;
//  padding-left: 16%;
 
//  font-size:small;
// }
// input{
//   border-top: hidden;
//   border-right: hidden;
//   border-left: hidden;
//   font-size: 1.2em;
//   transform: scale(1.0, 0.8);
//   border-bottom: 1px solid rgb(117, 116, 116);
// }

//  .xyz{
//    font-style: normal;
//    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//    color: rgb(146, 145, 145);
//    font-size: small;
//    transform: scale(1.2, 1.0);
//   }



//  .arrow{
//    border: solid #18385c;
//    border-width: 0 3px 3px 0;
//    display: inline-block;
//    padding: 1px;
//   }  
//  .down{
//    transform: rotate(45deg);
//    -webkit-transform: rotate(45deg);
//   }
//  .abc{
//    color: #18385c;
//    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//    font-size: 1.0em;
//    transform: scale(1.5, 1.2);
//    text-align: center;
//    }

//  .def{
//    color: rgb(102, 97, 97);
//    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//    font-size: 1.0em;
//    transform: scale(1, 1);
//    text-align: center;
//    }

// input:focus{
// outline: none;
// }

// .van{
//   color:#18385c ;
//   font-size: 1em;
//   transform: scale(1.8, 1.0);

nav
{
position: absolute;
margin-top: 3%;
margin-left: 4%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius:5%;
width: 18%;
height: 89%;
padding: 1.7%; //settingscard
text-align: center;
flex-direction: column;

 .card1 a{
font-size:large;
color:#2d4a6a ;
word-wrap: break-word; //settings card text
}

}

article
{
position: absolute;
margin-top: 3%;
right: 2%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); //profile card
border-radius: 3%;
padding:1.7%;
height: 89%;
width: 75%;
}
input{
border: none;
}
P{
float: right;
padding-right:20%; //placeholder
bottom:20%;
font-family: "adobe-clean",sans-serif;
}
.content{
float: left;
margin-top: 5%;
padding-left:20%;
font-family: "adobe-clean",sans-serif;//profilecontent
text-align: left;
font-size:small;
font-weight: lighter;
word-wrap:break-word;
flex-direction: column;
}
.parent {
position: absolute;
float: left;
top:10%;
padding-left:5%;
}
.image{
position: absolute;
top: 20%; //profile pic
left: 10%;
}
.image2 {
position: absolute;
top: 62%; //camicon
left: 75%;
}
.button{
position: absolute;
top:10%;
margin-left:90%;
text-shadow: #ffffff;
}
.btn{
font-size: large;
background:white;
font-family: "adobe-clean",sans-serif;
color: #1d7b8b;
border-color: #1d7b8b;
border-radius: 3px;
}

