<!--<form (ngSubmit)="confirm();">
    <div *ngIf="step== 1">
        <nav class="t1">
            <div class="titile ">
                <a class="tet">Account Settings</a>
                <a class="test" routerLink="/ViewAvailibiltySetting">Availability Settings</a>
            </div>
        </nav>

        <article class="t1">
            <div class="parent">
                <img class="image1"
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/949d557c-cbfd-401a-ac67-1adece91733b/d5qkroq-81413a26-8956-4d21-bb82-68e7858e8c0b.png/v1/fill/w_894,h_894,q_75,strp/circle_profile_by_pdogkasper-d5qkroq.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85NDlkNTU3Yy1jYmZkLTQwMWEtYWM2Ny0xYWRlY2U5MTczM2IvZDVxa3JvcS04MTQxM2EyNi04OTU2LTRkMjEtYmI4Mi02OGU3ODU4ZThjMGIucG5nIiwid2lkdGgiOiI8PTg5NCIsImhlaWdodCI6Ijw9ODk0In1dXX0.oA1qZ6rTUT_7nU8hcbjYny7eVioWv5dLYbJkPE_uWI8"
                    alt="Cinque Terre">
                <img class="image2" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-camera-512.png">

            </div>

            <p><button (click)="confirm();"> Edit</button></p>

            <div class="content">
                <label> Name &nbsp;&nbsp;<b> Dr </b> <i class="arrow down"></i></label>
                <input class="f1" placeholder=""> &nbsp; &nbsp;<span></span>
                <br><br>
                <label>Email &nbsp;&nbsp; </label>
                <input class="f1" placeholder="sammywin@doctor.com"> &nbsp;&nbsp;
                <label>Phone No &nbsp;&nbsp;</label>
                <input class="f1" placeholder="9123456789"> &nbsp;&nbsp; <br><br>
                <label>Speciality &nbsp;&nbsp;</label>
                <input class="f1" placeholder="Cardiologist"><br><br>
                <label>NPI No &nbsp;&nbsp;</label>
                <input class="f1" placeholder=""><br><br>
                <br><br>
                <label class="section">Practise Location </label>
                <input class="now f1" placeholder=" ">
            </div>
        </article>
    </div>-->

 <!-- page2 -->
   <!---- <div *ngIf="step== 2">
        <nav>
            <div class="abc">
                <a>Account Settings</a>
                <div></div>
            </div><br>
            <div class="def">
                <a routerLink="/ViewAvailibiltySetting">Availability Settings</a>
            </div>
        </nav>
        <article>
            <div class="parnt">
                <img class="image3"
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/949d557c-cbfd-401a-ac67-1adece91733b/d5qkroq-81413a26-8956-4d21-bb82-68e7858e8c0b.png/v1/fill/w_894,h_894,q_75,strp/circle_profile_by_pdogkasper-d5qkroq.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85NDlkNTU3Yy1jYmZkLTQwMWEtYWM2Ny0xYWRlY2U5MTczM2IvZDVxa3JvcS04MTQxM2EyNi04OTU2LTRkMjEtYmI4Mi02OGU3ODU4ZThjMGIucG5nIiwid2lkdGgiOiI8PTg5NCIsImhlaWdodCI6Ijw9ODk0In1dXX0.oA1qZ6rTUT_7nU8hcbjYny7eVioWv5dLYbJkPE_uWI8"
                    class="rounded-circle" alt="Cinque Terre" width="80" height="80">
                <img class="image4" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-camera-512.png"
                    width="25" height="25">
            </div>


            <i><button class="button" (click)="confirmp();">Save</button></i>

            <div class="contents">
                <label class="xyz">Name&nbsp;<b class="van"> DR </b> <i class="arrow down"></i>&nbsp;&nbsp;</label>
                <input placeholder=""> <br><br>
                <label class="xyz">Email &nbsp;&nbsp;</label>
                <input placeholder="sammywin@doctor.com"> &nbsp; &nbsp;<span>
                    <label class="xyz">Phone No &nbsp;&nbsp;</label>
                    <input placeholder="9123456789"> </span><br><br>
                <label class="xyz">Speciality &nbsp;&nbsp;</label>
                <input placeholder="Cardiologist"><br><br>
                <label class="xyz">NPI No &nbsp;&nbsp;</label>
                <input placeholder=""><br><br>
                <label class="xyz">Practise Location &nbsp;&nbsp;</label>
                <input placeholder="">
            </div>

        </article>
    </div>
</form>-->
<app-sidebar></app-sidebar>
<app-top-header></app-top-header>

<!-- settings -->
<nav>
    
<div class="card1 c2">
<a routerLink='/ViewEditAccountSettingComponent' ><strong>Account Settings</strong></a>
<br><br>
<a routerLink="/ViewAvailibiltySettingComponent" >Availability Settings </a>
<!-- profile picture -->
</div>
</nav>
<article>
<div class="parent">
<img class="image"src="../../../../assets/images/doctor.jpeg" class="rounded-circle" alt="Cinque Terre" width="80" height="80">
<img class="image2" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-camera-512.png" width="25" height="25">
</div>
<!-- edit button -->
<div class="col-md-12">
<div class="button" >
    <button (click)="onclickEdit()" type="button" class="btn" [style]="{display:Edit? 'initial':'none'}">
        Edit
        </button>
        <button (click)="onclickSave()" type="button" class="btn" [style]="{display:!Edit? 'initial':'none'}">Save</button>
</div>
</div> 
<!-- profile Info -->
<form [formGroup] ="doctorform">
<div class="content" >
    
    <label>Name</label> &nbsp;&nbsp;
    <select><option value="doctor" >DR.</option>></select>
    <input placeholder="{{getdoctors[0].doctorName}}" ><br><br>
    <label>Email</label> &nbsp;&nbsp;
    <input placeholder="Jhondoe@gmail.com"> &nbsp; &nbsp;
    <label>Phone No </label> &nbsp;&nbsp;
    <input placeholder="{{getdoctors[0].contactDetailId}}"> <br><br>
    <label>Speciality</label> &nbsp;&nbsp;
    <input placeholder="{{getdoctors[0].spaciality}}" ><br><br>
    <label>NPI no</label> &nbsp;&nbsp;
    <input placeholder="{{getdoctors[0].npinumber}}" ><br><br>
    <section>
    <label >Practice Location </label> &nbsp;&nbsp;
    <input placeholder="{{getdoctors[0].practiseLocation}}" >
    </section>
</div> 
    </form>
  
<!-- <div class="content" >
    <form [formGroup]="doctorform">
<label>Name</label> &nbsp;&nbsp;
<select><option value="doctor" >DR.</option>></select>
<input placeholder="" formControlName="doctorName"><br><br>
<label>Email</label> &nbsp;&nbsp;
<input placeholder="Sammywin@doctor.com" formControlName="email" > &nbsp; &nbsp;
<label>Phone No </label> &nbsp;&nbsp;
<input placeholder="9123456789" formControlName="phonenumber">
<br><br>
<label>Speciality</label> &nbsp;&nbsp;
<input placeholder="cardiologist"formControlName="spaciality" ><br><br>
<label>NPI no</label> &nbsp;&nbsp;
<input placeholder=""><br><br>
<section>
<label >Practice Location </label> &nbsp;&nbsp;
<input placeholder="">
</section>  
</form>    -->
