 .container
 {
     width:465px;
     height: 530px;
     background-color:white;
     border: 1px solid #ddd;
     border-radius: 10px;    
     row-gap: 5px; 
     margin-left: 10px;
}
h1
{

  font-size: 25px;
  color: rgb(23, 23, 56);
  margin-left: -3px;
  padding-left: 10px;
  margin-top: 3px;
  font-family: "adobe-clean", sans-serif;
  font-weight: bold;
}
.icon
{
   float:right;
   margin-right: 9px;
   size: 35px;
   text-align: right;
   font-family: "adobe-clean", sans-serif;
}
// .container1
// {
// width: 350px;
// height: 70px;
// margin-left: auto;
// background-color:white;
// border-style: hidden;
// border-radius: 8px;  
// border: 1px  solid #ddd;
// row-gap: 5px;
// margin-bottom: 5px;
// }
h2
{
font-size: 13px;
color:  rgb(23, 23, 56);
margin-left: 10px;
margin-top: 5px;
font-family: "adobe-clean", sans-serif;

}
p
{
 font-size: 9px;
 margin-left: 15px;
 font-family: "adobe-clean", sans-serif;

}
#button
{
   float:right;
   padding-right: 15px;
   margin-right: 8px;
   margin-top: 2px;
   margin-bottom: 20px;
   text-size-adjust: 1px;
   font-size: 4px;
   font-family: "adobe-clean", sans-serif;
  
}
.btn1
{
   background-color: rgb(23, 23, 56);
   color: white;
   font-size: large;
   font-family: "adobe-clean", sans-serif;
}
// .btn
// {
//    background-color: rgba(2, 75, 63, 0.829);
//     color: white;
//     font-size: 8px;
//     font-family: "adobe-clean", sans-serif;
// }
// .Prescription{
//    border:0.5px solid #d0d0d0;
//    border-radius:10px;
//    margin-top:20px;
//  }
//  .pres{
//    text-align:center;
//    color: #3b86ff;
//    margin-top:10px;
//    font-size:15px;
//  }
//  .aColor{
//    color: white;
//    border-radius: 8px;
//    background-color: #3b86ff;
//  }
//  .fColor{
//    color: #1f3e61; 
//    margin-left: 3px;
//    font-size:11px;
//  }
//  .fColor1{
//    font-size:11px;
//    margin-left:-10px;
//  }
//  .submit{
//    background-color: #3b86ff;
//    color:white;
//    text-align:center;
//    margin-left: 30%;
//  // margin-right: 17%;
//  border: 1px;
//  border-radius: 10px;
//  margin-bottom:10px;
//  }
//  .img {
//    width: 95%;
//    margin-bottom:10px;
//  }