<div class="container">

    <h1>Prescriptions
        <span class="icon">  
        <a routerLink="/AddEditPrescriptionComponent"> <input class="btn1" type="button" value="+" /></a>
         
        </span>
    </h1><br>
    <div class="container1" *ngFor="let m of medicine">

        <h2>1.{{m.tablet}}
            <span class="icon"> 
               <a> <i class='fas fa-pen'></i> <i class="fa fa-times"></i></a>
           </span></h2>
         <p>Don's Use Hot Water During Consume<span id="button">
                <button type="button" class="btn">After Food </button></span>

        </p>
    </div><br>
    
</div>

