#container{
    background-color: white;
    border : 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width:385px;
    height:435px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: 18px;
    float: right;
    color: #18385c;
    margin-top:auto ;
   
}

h1{
    text-shadow: 1px 1px 2px#18385c ;
    font-size: large;
    margin-left: 20px;
    font-family: "adobe-clean", sans-serif;
    font-weight: bold;
}
button{
   
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    font-family: "adobe-clean", sans-serif;
    
}
.medicine
{
    font-size: 13px;
    font-family: "adobe-clean", sans-serif;
    margin-left: 20px;
}
h5{
    margin-left: 20px;
}

#container{
    background-color: white;
    border : 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width:465px;
    height:530px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: 18px;
    float: right;
    color: #18385c;
    margin-top:auto ;
   
}

h1{
    text-shadow: 1px 1px 2px#18385c ;
    font-size: 25px;
    margin-left: 20px;
    font-family: "adobe-clean", sans-serif;
    font-weight: bold;
}
button{
   
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    font-family: "adobe-clean", sans-serif;
    
}
.medicine
{
    font-size: 18px;
    font-family: "adobe-clean", sans-serif;
    margin-left: 20px;
}
h3{
    margin-left: 20px;
}
.tej{
    width: 300px;
    margin-left: 20px;
}
.box{
    width: 300px;
    margin-left: 15px;
}