<div>
  <h2>4th Prescription detail</h2>
  <hr><br>
  <input style="width:70%;" class="in" placeholder="Search For Medicine">
  <p style="color: rgba(169, 169, 169, 0.411);">Eg:tablet,vicks</p>


  <input style="width:70%;" class="in" placeholder="Medicine duration">
  <p style="color: rgba(169, 169, 169, 0.411);">Eg:days</p>


  <input style="width:40%;" class="in" placeholder="Medicine Cycle">

  <span class="rapo" style="display:flex;">
    <h4 style="color: rgba(169, 169, 169, 0.411);">Food</h4>

    <h6>After</h6>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <h6>Before</h6>
  </span>

  <p style="color: rgba(169, 169, 169, 0.411);">Eg:M-A-N,M-O-N,O-A-N</p>
  <input style="width:70%;" class="in" id="in4" placeholder="Medicine Description to Patient" />
  <p style="color: rgba(169, 169, 169, 0.411);">Eg:don't use hot water to consume tablets</p>
  <br>

  <footer id="id6">
    <a id="id7" routerLink="/prescription">
      <span id="id8">Add Medicine</span></a>
  </footer>
</div>