<div class="col-sm-12" >
  <header class="header1">
      <ul class=" nav nav-pills header2">
          <li><a href="#">Logout</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
          <li id="list">
              <select id="list1">
                  <option>jhon Doe</option>
              </select>
          </li>
          <li><img id="image" src="../../../../assets/images/doctor.jpeg" alt="profile" class="img-circle"></li>
      </ul>
  </header>
</div><br>
