<div class="container">
    <div class="row topHeader ml-2">
        <span>Sign Up</span>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 col-12">
            <img src="/assets/Image/login.png" alt="">
        </div>
        <div class="col-xl-6 col-md-6 col-12 loginContainer">
            <h1>Welcome to CMD</h1>
            <div class="form-container" >
                <!-- <div class="formFeild">
                    <div class="example-full-width">
                        <input matInput name="UserName" #userName placeholder="Username" value="" formControlName="username">
                    </div>
                </div>
                <div class="formFeild">
                    <div class="example-full-width">
                        <input matInput name="Password" #password type="password" placeholder="Password" value="" formControlName="password">
                    </div>
                </div> -->
                <div class="example-button-row">
                    <button mat-raised-button class="logiButton" (click)="login()">log in</button>
                    <!-- <button mat-raised-button class="logiButton" (click)="login(userName.value,password.value)">log in</button> -->
                </div>
                <!-- <div class="loginAs">
                    <div class="user">
                        Login as doctor
                    </div>
                    <div class="user">
                        Login as patient
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>