<!-- 
<div>
    <h6>Are you sure you want to close the appointment?</h6>
    <p>you won't be able to change the prescriptions and tests<br>recommended once you close the appointment.Make sure<br> you check them once before you confirm.</p>
    <input class="in" Display="ViewAppointment" placeholder="Comment"><br><br>
      <p><a routerLink="/ViewAllAppointment"> 
        <button class="button2">Confirm</button></a>
        <a routerLink="/ViewAppointment"><span class="button3">
          <button class="button3">Cancel</button></span></a>
    </p>
      
  </div>
   -->
   <!-- <div>

    <h6>Are you sure you want to close the appointment?</h6>

    <p>you won't be able to change the prescriptions and tests<br>recommended once you close the appointment.Make sure<br> you check them once before you confirm.</p>

    <input class="in" Display="ViewAppointment" placeholder="Comment"><br><br>

      <p><a routerLink="/viewallappointment">

        <button class="button2">Confirm</button></a>

        <a routerLink="/ViewAppointment"><span class="button3">

          <button class="button3">Cancel</button></span></a>

    </p>
  </div> -->
  
<div>
  <h6>Are you sure you want to close the appointment?</h6>
  <p>you won't be able to change the prescriptions and tests<br>recommended once you close the appointment.Make sure<br> you check them once before you confirm.</p>
  <input class="in" Display="ViewAppointmentComponent" placeholder="Comment"><br><br>
  <p><a routerLink="/ViewAllAppointmentComponent">
      <button class="button2">Confirm</button></a>
      <a routerLink="/ViewAppointmentComponent"><span class="button3">
        <button class="button3">Cancel</button></span></a>
  </p>
    
</div>

