h6
{
    font-weight:bold;
    margin-right: 3px;
    margin-top: 5px;
}
div
 {
        width:420px;
        height:200px;
        margin-top: 100px;
        margin-left: 500px;
        border:solid 1px rgb(230, 227, 227);
        background-color: white;
        border-radius: 10px;
        color:#18385c;
        padding-left: 25px;
        border-color: navy;
 }
.in
 {
        background: transparent;
        border-top:0px; 
        width:90%;       
        border-left:0px;
        border-right:0px;
        border-bottom:solid 1px rgb(59, 57, 57);
        margin-left:0px;

 }
div
 {
            width:400px;
            height:200px;
            margin-top: 100px;
            margin-left: 500px;
            border:solid 1px rgb(230, 227, 227);
            background-color: white
            ;border-radius: 10px;
            color:#170a61
}

.button2 
 {
      background-color:#170a61;     
      color:white;
}
.button3
{
    float:center;
    padding-left: 15px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 15px;
}
p
{
    font-size: 13px;
    margin-left: 3px;
}