.transparent-bg{
	background: rgba(82, 81, 81, 0.73);
    padding: 20px;
    text-align: left;
    font-size: 26px;
    
}
        
.container 
{
    margin: 10px auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container.row 
{
    padding-bottom: 15%; 
    border-bottom: 30%;
    margin-top: 15%;
    border-right: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.custom-control-input
{
    padding: 3px;
}

.board 
{
    margin: 47px;
    height: 420px;
    width: calc(138% - 1px);
    background-color: rgb(243, 247, 247);
    border: 1px solid black;
    border-radius: 4%;
    font-size: x-small;
    padding-left: 10px;
    font-weight: bold;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.rectangle
{
    width:400px;
    height:100px;
    background:rgb(244, 244, 247);
}
        
.btn-close
{
    padding-top: 3px;
    display: inline-block;
    float: right;
    margin-right: 4px;

}
