<div class="transparent-bg">
    <div class="container" style="color: rgb(17, 17, 85) ;">
    <div class="row">
    <div class="col-xs-12 board">
    
    
    
    <form action="">
    <h4>Feedback Form
    <a routerLink="/viewallappointment">  <button type="button" class="btn-close" aria-label="Close"></button></a>
    </h4>
    <hr>
    
    
    
    <div class="custom-control custom-radio custom-control-inline" style="color: rgb(15, 15, 49) ; ">
    <label>
    <p style="color:rgb(15, 15, 49)">1.How Satisfied are you with the competence of the doctor?
    </p>
    <div>
    <p >
    <input type="radio" value="1" name="option1"> 1 &nbsp;
    <input type="radio" value="2" name="option1"> 2 &nbsp;
    <input type="radio" value="3" name="option1"> 3 &nbsp;
    <input type="radio" value="4" name="option1"> 4 &nbsp;
    <input type="radio" value="5" name="option1"> 5 &nbsp;
    
    
    
    
    </p>
    </div>
    
    
    
    
    
    
    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline" style="padding-left: 0%;">
    <label >
    <p style="color: rgb(15, 15, 49) ;">2.How satisfied are you with the outcome of
    treatment?</p>
    <div>
    
    <input type="radio" value="1" name="option2"> 1 &nbsp;
    <input type="radio" value="2" name="option2"> 2 &nbsp;
    <input type="radio" value="3" name="option2"> 3 &nbsp;
    <input type="radio" value="4" name="option2"> 4 &nbsp;
    <input type="radio" value="5" name="option2"> 5 &nbsp;
    
    
    
    
    
    </div>
    
    
    
    
    <!-- Default inline 3-->
    <div class="custom-control custom-radio custom-control-inline" style="padding-left: 0%;">
    <label>
    <p style="color: navyrgb(15, 15, 49) ;">3.Would you refer this Doctor to
    others?</p>
    <div>
    <p >
    
    <input type="radio" value="1" name="option3"> 1 &nbsp;
    <input type="radio" value="2" name="option3"> 2 &nbsp;
    <input type="radio" value="3" name="option3"> 3 &nbsp;
    <input type="radio" value="4" name="option3"> 4 &nbsp;
    <input type="radio" value="5" name="option3"> 5 &nbsp;
    
    
    
    </p>
    </div>
    
    
    
    <!-- Default inline 4-->
    <div class="custom-control custom-radio custom-control-inline" style="padding-left: 0%;">
    <label>
    <p style="color: rgb(15, 15, 49) ;">4.How satisfiedare you with the
    Process of booking appointment?</p>
    <div>
    <p >
    <input type="radio" value="1" name="option4"> 1 &nbsp;
    <input type="radio" value="2" name="option4"> 2 &nbsp;
    <input type="radio" value="3" name="option4"> 3 &nbsp;
    <input type="radio" value="4" name="option4"> 4 &nbsp;
    <input type="radio" value="5" name="option4"> 5 &nbsp;
    
    
    
    
    </p>
    </div>
    <div >
    <h5>Additional Comment</h5>
    
    
    
    <div id="rectangle">
    
    
    
    <textarea name="Additional comment" id="" cols="45"
    rows="5"></textarea>
    </div>
    <br>
    <div>
    
    
    
        <button type="button" class="btn btn-outline-dark">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn-outline-dark">Cancel</button>
    
    
    
    </div>
    </div>