
.badge{
    background-color:red ;
}
.sample{
color: black;
font-size: large;
padding-left: 3px;
}
.body{
box-shadow: 0 4px 8px 0;
color: rgb(85, 80, 80);
background-color: white; 
width: 400px;
margin-left: 12%;
height: 60px;
//margin-top: 15%;
}
button{
    border-width: 1px;
}

.sample1{
//margin-top: 5px; 
float:right; 
font:size 10%;
margin-right: 25px;
border: 1px black;
}

.sample2{
   font-size: x-large;
   color: blue;
   padding-left: 30px;
}

.sample3 {
color:rgba(20, 15, 15, 0.411); 
font-size: medium;
}

.sample4 {
color:rgba(56, 54, 54, 0.411);
font-size: small;
}

.sample5{
color:red;
}

.s1{
    padding-left: 50px;
}


.space{
    padding-left: 40px;
}

