<!-- <div>
    <h3>4th Prescription detail</h3>
    <hr>
    <input class="in" placeholder="Search For Medicine">
    <p>Eg:tablet,vicks</p>
    
    <input  class="in" placeholder="Medicine duration">
    <p>Eg:days</p>
    
    <input class="bo" placeholder="Medicine Cycle"> 

    <span class="b1">
    <h4>Food</h4>

        <h6>After</h6>
             <label class="switch">
                 <input type="checkbox">
                     <span class="slider round"></span>
                         </label>
        <h6>Before</h6>
    </span>
    
    <p>Eg:M-A-N,M-O-N,O-A-N</p>

    <input class="in" placeholder="Medicine Description to Patient"/>

    <p>Eg:don't use hot water to consume tablets</p>
    <a routerLink="/ViewAppointment">
             
     <input id="in5" type="submit" value="Add Medicine">
    </a>   
      
     -->
     <div>
        <h3>4th Prescription detail</h3>
        <hr>
        <input class="in" placeholder="Search For Medicine">
        <p>Eg:tablet,vicks</p>
        
        <input  class="in" placeholder="Medicine duration">
        <p>Eg:days</p>
        
        <input class="bo" placeholder="Medicine Cycle"> 
    
        <span class="b1">
        <h4>Food</h4>
    
            <h6>After</h6>
                 <label class="switch">
                     <input type="checkbox">
                         <span class="slider round"></span>
                             </label>
            <h6>Before</h6>
        </span>
        
        <p>Eg:M-A-N,M-O-N,O-A-N</p>
    
        <input class="in" placeholder="Medicine Description to Patient"/>
    
        <p>Eg:don't use hot water to consume tablets</p>
                 
         <input id="in5" type="submit" value="Add Medicine">
                 
          
        