<div>
    <form [formGroup]="MedicineForm" (ngSubmit)="onsubmit()">

    <h3>4th Prescription detail</h3>
    <hr>
    <input class="in" placeholder="Search For Medicine" formControlName="medicineName">
    <p>Eg:tablet,vicks</p>
    
    <input  class="in" placeholder="Medicine duration" formControlName="medicineDuration">
    <p>Eg:days</p>
    
    <input class="bo" placeholder="Medicine Cycle"formControlName="medicineCycle"> 

    <span class="b1">
    <h4>Food</h4>

        <h6>After</h6>
             <label class="switch">
                 <input type="checkbox">
                     <span class="slider round"></span>
                         </label>
        <h6>Before</h6>
    </span>
    
    <p>Eg:M-A-N,M-O-N,O-A-N</p>

    <input class="in" placeholder="Medicine Description to Patient" formControlName="medicineDescription">

    <p>Eg:don't use hot water to consume tablets</p>
    <a routerLink="/ViewAppointment">          
     <input id="in5" type="submit" value="Add Medicine">

    </a>   
</form>
 <div class="p" *ngFor="let m of MedicinePrescriptionAssociation">
    <div class="row">
        <div class="col-1 fColor"><strong>{{m.id}}.</strong></div>
        <div class="col-3 fColor1">
            <strong>{{m.medicineName}}</strong>
        </div>
        <div class="col-3 aColor"><span class="s">{{m.medicineCycle}}</span></div>
        <div class="col-4"><input type="range" min="1" max="100" value="1"
                class="range1">
        </div>
         <div class="col-1"><i class="fa fa-times cross"></i></div> 

    </div>
    <span class="small">
        <p class="descript">{{m.medicineDescription}}</p>
    </span>
    <hr>
</div> 

      
    