#Maincard{
    box-shadow: 0 1px 4px 0 rgb(85, 80, 80);
    background-color: white;
   width: 350px;
   // height: 30rem;
  position: center;
   // margin-top: 250px;
   height: max-content;
   // margin-left: 40%;
   
}
   
   .Header1{
   font-size:large;
   color:#0BAFFF;
   }
   .card{
    box-shadow: 0 6px 8px 0 rgb(85, 80, 80);
    margin-left: 2rem;
 
   border-color:black;
   border-radius:0.5rem;
   height: min-content;
    //height:100%;
    width:300px;
    margin-bottom: 2rem;
   
}
   .num{
   font-size: 25px;
   border: 0px solid #05445E;
   width: 40px;
   height: 40px;
   border-radius: 30px;
   color: white;
   background-color: #05445E;
   display: inline-block;
   text-align: center;
}
#id0{
    font-size: x-small;
    color:black;
    margin-top: 0.5rem;
    }
#id1{
    margin-top: 2%;
}
#id2{
    padding-left: 12%;
    font-size:15px;
}
b{
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}
#id3{
    font-size: 106%;
}
#id4{
    padding-left:0px;
    font-size:small;
   
}
.cls{
    border-left: 1px solid gray;
    height: 40px;
    font-size:10px;
}
p{
    padding-left:12%
}
#id5{
   
    padding-left: 14%;
    font-size: 120;
}
#id6{
   
    padding-left: 20%;
    font-size: 120;
}
#id7{
    width:100%;
}
#i{
    font-style: italic;
    font-size: 10px;
}
#k{
width:96%
}