.ys h5{
    margin-top:10px;
    text-align:center;

}
   

   .card{
    box-shadow: 0 3px 3px 0 rgb(85, 80, 80);
    /* margin-left: 2rem; */
 
   border-color:black;
   border-radius:1px;
   height: min-content;
    /* height:100%; */
    width:100%;
    margin-bottom: 1rem;
    
}


 


p{
    // padding-left:12%;
    font-size: 10px;;
}


.A{
    border:solid 1px;
    border-radius: 50%;
    color:#fff;
    background-color: #00616d;
    /* padding-left:10px;
    padding-right:10px; */
    padding:5px 10px 5px 10px;
    /* text-align:center; */
    font-size: 15px;
    /* margin-top:20px; */
    float:left;
        
}
.D{
    float:left;
    
    
}
.DN{
    font-size:15px;
    float:left;
    margin-left:5px;
    padding-right:55px;
}
.D p{
    margin-left:10px;
}
.DN i{
    margin-top:9px;
}
.calen{
    color:red;
    // float:right;
    // margin-left:1px;
    margin-top:9px;
    padding-right:10px;
    padding-bottom:30px;
    border-right:2px solid rgb(240, 237, 237);
}
// .t{
//     float:left;
// }
.t{
    margin-top:20px;
    margin-left:10px;
}
.t i{
    margin-top:8px;
    float:left;
    // margin-left:5px;
    font-size:12px;
}
.t1{
    font-size:17px;
    // margin-top:20px;
    // margin-left:8px;
    
}
// .t2{
//     margin-left:15px;
// }
.d{
    padding-left:50px;
}

.d i{
    font-size: 15px;
    margin-top:10px;
}
.d2{
    margin-left:2px;
}
.d3{
    margin-left:10px;
}