* {
    margin: 0%;
    padding: 0%;
    

}
.main {
    border-radius: 15px;
    padding-right: 40px;
   
    
}

// .Block1 {
//     display: flex;
    
// }
.module1 {
    width: 390px;
    height: 200px;
    border: 1px solid #ddd;
    color: #18385c;
    background-color:white;
    margin:30px;
    padding-left:20px;
    padding-top: 20px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 40px;
    float: left;
}
.img {
    width:75px;
    height:75px;
}
.personal_details span {
    padding: 13px;
    line-height: 8px;
}
.vl {
    border-left: 1.5px solid rgb(168, 165, 165);
    height:65px;
}
.small2{
    
    word-spacing:15px ;
    font-size: 11px;
    font-style: bold;

}
.Person_Name{
    margin:top 25px;
    
}
.small1
{
    word-spacing: 15px;
    font-size: 11px;

}