<div class="row">
    <div class="main">
    <div class="row">
       <div class="col-sm-6">
                    <div class="module1">
                        <div class="img_patients">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img" />
                                </div>
                                <div class="col-sm-9 Person_Name">
                                    <span class="small">Patient</span>
                                    <h4><b>{{patients[1].name}}</b></h4>
                                    <span class="small">{{patients[1].gender}}  Age 23</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="personal_details">
                                            <p class="small4"><i class="fas fa-phone"></i>{{mobileno[1].phoneNumber}}</p><br>
                                            <p class="small4"><i class="far fa-envelope"></i>{{mobileno[1].email}}</p>
                                        </span>
                                    
                                </div>
                                <div class="col-sm-1">
                                    <div class="vl"></div>
                                </div>
                                <div class="col-sm-5">
                                    <span>
                                        <p class="small2"><i class="far fa-calendar-plus"></i> {{patients[1].dob}}</p>
                                        <p class="small2"><i class="fas fa-tint"></i> {{patients[1].bloodGroup}}</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    