.main1
 {
   margin-top: 20%;
   border: 1px solid #ddd;
   border-radius: 10px;
   margin-left: 25px;
   height: 150px;
   width: 960px;
   padding-left: 10px;
   color: #18385c;
   font-family: "adobe-clean", sans-serif;
   margin-top: 15px;
   background-color: white;
   padding-top: 10px;
 }
        //for button
        button
        {
          background-color: #18385c;
          border-radius: 6px;
          color:white;
          margin-left:15px;
         }
         strong
        {
          text-shadow: 1px 1px 2px #18385c ;
          font-size: 20px;
        }
    P
    {
      padding-top: 20px;
      font-size: 15px;
      margin-left: 2px;
    }
    .mam{
      width: 900px;
      margin-top: 22px;
    }