<form (ngSubmit)="confirm();">
    <div class="main1" *ngIf="step== 2">
      <span><strong>Comment </strong></span>
         <button (click)="confirmp()" type="button" class="primary">save</button> 
         <br><br>
         <p>{{comment[0].comment}} </p>

         </div> 
     <div class="main1" *ngIf="step== 1">
     <span><strong>Comment </strong></span>
     <button (click)="confirm()" type="button" class="primary">edit</button>
       <br><br>
       <input type="text" class="mam">
   <!-- <p>{{comment[0].comment}} </p> -->
     </div>
    </form> 
   
   
