
<div class="followups">
    <div class="container-fluid">
        

        <div class="row">
            <div class="col-md-9">
                <div class="cross row">
                    <div class="cross row">
                        <div  class="col-md-12">
                            <a routerLink="/viewchat"><img style="width:30px;float:right;margin-top:30px;" src="http://cdn.onlinewebfonts.com/svg/img_5332.png"></a>
                        </div>
                    </div>
                    <div class="tpart col-md-6 d-flex justify-content-center">
                        
                        <div class="calender1 ">
                            <div class="month1">      
                                <ul>
                                    <a href="#"><li class="prev">&#10094;</li></a>
                                    <a href="#"><li class="next">&#10095;</li></a>
                                    <li class="month2">
                                    August 2021
                                    
                                    </li>
                                </ul>
                            </div>
                            <div class="body1">
                                <ul class="weekdays">
                                    <li>Mo</li>
                                    <li>Tu</li>
                                    <li>We</li>
                                    <li>Th</li>
                                    <li>Fr</li>
                                    <li>Sa</li>
                                    <li>Su</li>
                                    </ul>
                                    
                                    <ul class="days">  
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                    <li>9</li>
                                    <li><span class="active">10</span></li>
                                    <li>11</li>
                                    <li>12</li>
                                    <li>13</li>
                                    <li>14</li>
                                    <li>15</li>
                                    <li>16</li>
                                    <li>17</li>
                                    <li>18</li>
                                    <li>19</li>
                                    <li>20</li>
                                    <li>21</li>
                                    <li>22</li>
                                    <li>23</li>
                                    <li>24</li>
                                    <li>25</li>
                                    <li>26</li>
                                    <li>27</li>
                                    <li>28</li>
                                    <li>29</li>
                                    <li>30</li>
                                    <li>31</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btns col-md-6 ">
                        
                        <div class="button1 row">
                            <div class="col-md-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-dark">11:00</button>
                            </div>
                            <!-- <div class="col-2 d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-dark">11:00</button>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div> -->
                            
                        </div>
                        <div class="button2 row">
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-dark">11:00</button>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary">11:00</button>
                            </div>
                            <!-- <div class="col-2 d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-dark">11:00</button>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div> -->
                            
                        </div>
                        <div class="button3 row">
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-dark">11:00</button>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary">11:00</button>
                            </div>
                            <!-- <div class="col-2 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <button type="button" class="btn btn-light">11:00</button>
                            </div> -->
                            
                        </div>
                        <div class="button4 row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <button class="btn btn-success">Success</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="schedule col-md-3">
                <app-view-your-schudule></app-view-your-schudule>
            </div>
        </div>
    </div>
</div>