<div class="container-fluid">
    <app-top-header></app-top-header>
    <div class="vedio-call row">
        <app-sidebar></app-sidebar>
        <div class="col-md-1">

        </div>

        <div class="VIEWCHART col-md-3">
            <app-view-all-chat-details></app-view-all-chat-details>
        </div>
        <div class="vcall col-md-5">
            <div class="VHead row">
                <div class="col-2">
                    <div>
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img" />
                    </div>
                </div>
                <div class="col-4">
                    <h6>SAM Watson</h6>
                    <p><span class="small">Last seen at 2:25</span></p>
                </div>
                <div class="col-1">

                </div>
                <div class="col-1">

                </div>
                <div class="col-1">
                    <a href=" "><i class="fas fa-phone icon-size"></i></a>
                </div>
                <div class="col-1">

                </div>
                <div class="col-2">
                    <a href=" "><i class="fas fa-ellipsis-v icon-size"></i></a>
                </div>
            </div>
            <div class="HAUDIO row">
                <div class="col-5">
                    <div class="row">
                        <div class="col-2">
                            <i class="one fa-solid fa-video"></i>
                        </div>
                        <div class="col-5">
                            <h6>00:00:05s</h6>
                        </div>
                        <div class="col-5">
                            <i class="two fa-solid fa-mobile-screen-button"></i>
                        </div>
                    </div>




                </div>
                <div class="col-1">
                    <i class="one fa-solid fa-video"></i>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2">

                        </div>

                        <div class="col-2">
                            <a href="/viewchat">
                                <i class="three fa fa-phone-square"> </i></a>
                        </div>
                        <div class="col-2">
                            <i class="four fourth fa-solid fa-circle-pause"></i>
                        </div>
                        <div class="col-2">
                            <i class="five fas fa-volume-mute"></i>
                        </div>
                        <div class="col-2">
                            <i class="six fa-solid fa-microphone-lines-slash"></i>
                        </div>




                    </div>



                </div>






            </div>
            <div class="row">
                <div class="pic col-md-12">
                    <img src="https://c.stocksy.com/a/zIb100/z9/381733.jpg">

                </div>
            </div>

        </div>

        <!-- <p><i class="one fa-solid fa-video"></i>
                            <span class="ctime">00:00:05 s</span>
                            <i class="two fa-solid fa-mobile-screen-button"></i>
                            <i class="one fa-solid fa-video"></i>
                            <a href="#">
                            <i class="three fa fa-phone-square"> </i></a>
                            <i class="four fourth fa-solid fa-circle-pause"></i>
                            <i class="five fas fa-volume-mute"></i>
                            <i class="six fa-solid fa-microphone-lines-slash"></i>
    
                        </p> -->



        <div class="VIEWISSUES col-md-3">
            <app-viewissueshistory></app-viewissueshistory>
        </div>
    </div>
</div>