.VIEWISSUES{
    border: 1px groove #d0d0d0;
    margin-top: 20px;
  


  }
  .H2{
     
    text-align:center;
    
  
  }      
  
  // .m{

  //   margin-bottom:2px;
   
  //  }
   
   .m1 button{
   
     border:solid 2px #6ba3aa;;
   
     border-radius: 10%;
     float:left;
     display: block;
     

   }
   .icon2{
     font-size: 30px;

   }
   .D-color{
     color:red
   }
   .B-color{
     color:green
   }
  
   .C-color{
      color:yellow;
     
   }
   .m2 button{
   
     border:solid 2px #6ba3aa;;
   
     border-radius: 10%;

     
   
   }
  .m3 button{
    border:solid 2px #6ba3aa;;
   
     border-radius: 10%;
    //  float:right;

  }
 
 .icon i{
 
 font-size:30px;
 
 margin-right: 0px;
 
 }
 
 .BP p{
 
 font-size:12px;
 
 }
  /*ViewIssues Ends*/
 