<app-top-header></app-top-header>
<!--<section>
    <nav>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
               <a class="abc"  routerLink="/ViewEditAccountSetting">Account Settings </a>
                <div></div><br>

                <a class="def">Availability Settings</a>

            </div>
        </div>
    </nav>
    <article>

        <p>Working Days</p><br>

        <div class="dropdown">

            <button class="dropbtn">5 days <i
                    class="arrow down"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label class="inpt" id="inp1">Start Time <b>12.00 AM</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="inpt" id="inp2">End Time <b> 12.00 PM</b></label>
        </div>-->

        <!-- <div class="Days"><a> <p style="text-align: center;" Start Time 12.00 AM  End Time 12.00 PM style="color: rgb(46, 46, 156);" ><u><font color=blue size=3>Start Time <b>12.00 AM</b> </font> <u><font size=3 color="blue">End Time <b>12.00 PM</b></font></u></p></a></div> -->






       <!--- <br>
        <hr />
        <p><i class="text"> Drag a slot to add to your daily timeline </i></p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="btn1" class="btn btn-outline-primary">15Min</button>&nbsp;&nbsp;
        <button type="button" id="btn2" class="btn btn-outline-secondary">30Min</button>&nbsp;&nbsp;
        <button type="button" id="btn3" class="btn btn-outline-success">1Hr</button>&nbsp;&nbsp;
        <button type="button" id="btn4" class="btn btn-outline-info">1.5Hr</button>&nbsp;&nbsp;
        <button type="button" id="btn5" class="btn btn-outline-warning">2Hr</button>&nbsp;&nbsp;
        <button type="button" id="btn6" class="btn btn-outline-danger">Break</button>


        <table>
            <caption>

            </caption>

            <tbody>
                <tr>
                    <td class="row1">12:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td class="row1">2:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">4:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">6:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">8:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">10:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">12:00 AM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">2:00 PM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">4:00 PM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">6:00 PM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">8:00 PM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="row1">10:00 PM</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </article>-->
    <!---
    <section>
        <nav class="dpd">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                <label class="form-check-label" for="flexCheckDefault">Mon</label><br>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                <label class="form-check-label" for="flexCheckDefault">Tue</label><br>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                <label class="form-check-label" for="flexCheckDefault">Wed</label><br>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                <label class="form-check-label" for="flexCheckDefault">Thu</label><br>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                <label class="form-check-label" for="flexCheckDefault">Fri</label><br>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Sat</label><br>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Sun</label><br>
            </div>
        </nav>
    </section>-->
<!--<app-top-header></app-top-header>-->
<!-- <div class="card" id="sidebar">
<div class="card-body">
<ul style="list-style-type:none; color: white;">
<a href="#"><h6 class="b0">Connect My Doc <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/></svg></span></h6></a>

<li>
<a routerLink = "/viewallappointment"><p><a href="#"><span class="b0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16"><path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/></svg>Dashboard</span></a></p></a>
</li>
<li>
<p><a href="#"><span class="b0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>Patient</span></a></p>
</li>
<li>
<p><a href="#"><span class="b0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/></svg>Chat Room</span></a></p>
</li>
<li>
<p><a routerLink="/ViewEditAccountSettingComponent"><span class="b0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16"><path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/></svg>Settings</span></a></p>
</li>
</ul>
</div>
</div> -->

<div class="sidebar col-sm-2">

    <h2 > <span class="icon1 glyphicon glyphicon-align-left icon-color" > Connect My Doc</span>
 
     <a href="viewallappointment"><span class="glyphicon glyphicon-stats icon-color"> Dashboard</span></a>
 
     <a routerLink="/viewallpatients"><span class="glyphicon glyphicon-user icon-color"> Patient</span></a>
 
     <a href="viewchat"><span class="glyphicon glyphicon-comment icon-color"> ChatRoom</span></a>
 
     <a href="ViewEditAccountSettingComponent"><span class="glyphicon glyphicon-cog icon-color"> Settings</span></a>
 
 </h2>
</div> 
<!-- <app-top-header></app-top-header> -->
<div class="verticalline">
<section>
<nav>
<a routerLink="/ViewEditAccountSettingComponent" >Account Settings </a>
<br><br>
<a routerLink="/ViewAvailibiltySettingComponent" ><strong>Availability Settings</strong> </a>
</nav>
<article>
<p >Working Days</p><br>
<div class="dropdown">
<button class="dropbtn">5 days <i class="arrow down"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<label class="inpt" id="inp1">Start Time <b>12.00 AM</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
<label class="inpt" id="inp2">End Time <b> 12.00 PM</b></label>
</div>
<!---<div class="Days"><a> <p style="text-align: center;" Start Time 12.00 AM End Time 12.00 PM style="color: rgb(46, 46, 156);" ><u><font color=blue size=3>Start Time <b>12.00 AM</b> </font> <u><font size=3 color="blue">End Time <b>12.00 PM</b></font></u></p></a></div> -->



<br><hr/>
<p ><i class="text"> Drag a slot to add to your daily timeline </i></p>&emsp;&emsp;&ensp;&nbsp;
<button type="button" id="btn1" class="btn btn-outline-primary" >15Min</button>&ensp;
<button type="button" id="btn2"class="btn btn-outline-secondary">30Min</button>&ensp;
<button type="button" id="btn3" class="btn btn-outline-success">1Hr</button>&ensp;
<button type="button" id="btn4"class="btn btn-outline-info">1.5Hr</button>&ensp;
<button type="button" id="btn5" class="btn btn-outline-warning">2Hr</button>&ensp;
<button type="button" id="btn6" class="btn btn-outline-danger">Break</button>

<table class="table1"
cellspacing="0" cellpadding="0">
<caption >

</caption>

<tbody>
<tr>
<td class="row1">12:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

 </tr>
<tr>
<td class="row1">2:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">4:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">6:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">8:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">10:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">12:00 AM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">2:00 PM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">4:00 PM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">6:00 PM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">8:00 PM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td class="row1">10:00 PM</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</article>
