<div id="id0">

  <header>

    <h1>Symptom Detail</h1>

  </header>

  <hr>

  <div>

    <input id="id1" type="text" placeholder="Search For Symptom">

    <h4 id="id2">Eg:Insomania,Headache</h4>



    <input id="id3" type="text" placeholder="Reading">



    <h4 id="id4">Eg:250 Daiabetes/Diabetes mellitus</h4>



    <input id="id5" type="text" placeholder="Search For Doctor">







  </div>




  <br>

  <footer id="id6">

    <a id="id7" routerLink="/confirm"><span id="id8">Add Symptom</span></a>

  </footer>

</div>