header

{

    color :rgb(37, 144, 163);

    position: static;

}

h1{padding-left: 15%;}

#id0

{

    align-content: center;

    width:30%;

    height: max-content;

    box-shadow: 0 4px 8px 0 rgb(85, 80, 80);

    background-color: white;

    border-radius:1cm;

    margin-left: 37%;

    margin-top: 10%;

}
#id1

{

    width:60%;

    height:1cm;

    box-shadow: none;

    outline: none;

    border: none;

    border-bottom: 2px solid rgb(10, 10, 10);

    width: 40%;

    margin-left: 20%;

}

#id2

{

    color:rgba(169, 169, 169, 0.411);

    margin-left: 20%;

}

#id3

{

    width:60%;

    height: 1cm;

    box-shadow: none;

    outline:none;

    border: none;

    border-bottom: 2px solid rgb(10, 10, 10);

    width: 40%;

    margin-left: 20%;

}
#id4

{

    color:rgba(169, 169, 169, 0.411);

    margin-left: 20%;

}

#id5

{

    width:60%;

    height: 1cm;

    box-shadow: none;

    outline:none;

    border: none;

    border-bottom: 2px solid rgb(10, 10, 10);

    width: 40%;

    margin-left: 20%;

}

#id6

{

    background-color:rgb(37, 144, 163);

    height: 1.5cm;

    border-bottom-left-radius: 1cm;

    border-bottom-right-radius: 1cm;

}#id7

{

    text-decoration:none;

}

#id8

{

    font-size:1cm;

    color:white;

    padding-left: 15%;

}