<div class="man col-md-12 col-sm-12 col-xs-12">
  <a routerLink="/viewprescription">
    <h3>Prescription History</h3>
  </a>
  <hr>
  <div class="dropdown col-md-10 col-xs-10 col-sm-10 col-10">

    <button id="showfever" class="dropbtn col-md-12 col-xs-12 col-sm-12 col-12" onclick="toggel(this.id)"
      target="1">{{symptoms[1].symptoms}}<i class="calend fa-solid fa-calendar-days"> 21/03/2018</i></button><br>

    <div id="showfever1" class="content" style="display:none;">
      <h5>Date&Time</h5>
      <span>22/12/2017 10:45</span>
      <hr>

      <h5>Medicines</h5>
      <span>Pain Killer-Paracetomole 1500mg IV Q12</span><br>
      <span>Horse X3Days</span><br><br>



    </div><br>

    <button id="showheadache" class="dropbtn col-md-12 col-xs-12 col-sm-12 col-12" onclick="toggel(this.id)"
      target="2">{{symptoms[0].symptoms}}<i class="calend fa-solid fa-calendar-days"> 21/03/2018</i></button><br>
    <div id="showheadache2" class="content" style="display:none;">
      <h5>Date&Time</h5>
      <span>22/12/2017 10:45</span>
      <hr>

      <h5>Medicines</h5>
      <span>Pain Killer-Paracetomole 1500mg IV Q12</span><br>
      <span>Horse X3Days</span><br><br>

    </div><br>
    <button id="showstress" class="dropbtn col-md-12 col-xs-12 col-sm-12 col-12" onclick="toggel(this.id)"
      target="3">{{symptoms[3].symptoms}}<i class="calend fa-solid fa-calendar-days"> 21/03/2018</i></button><br>
    <div id="showstress3" class="content" style="display:none;">
      <h5>Date&Time</h5>
      <span>22/12/2017 10:45</span>
      <hr>

      <h5>Medicines</h5>
      <span>Pain Killer-Paracetomole 1500mg IV Q12</span><br>
      <span>Horse X3Days</span><br><br>

    </div> <br>
    <button id="showbackpain" class="dropbtn col-md-12 col-xs-12 col-sm-12 col-12" onclick="toggel(this.id)"
      target="6">{{symptoms[2].symptoms}}<i class="calend fa-solid fa-calendar-days"> 21/03/2018</i></button><br>
    <div id="showbackpain6" class="content" style="display:none;">
      <h5>Date&Time</h5>
      <span>22/12/2017 10:45</span>
      <hr>

      <h5>Medicines</h5>
      <span>Pain Killer-Paracetomole 1500mg IV Q12</span><br>
      <span>Horse X3Days</span><br><br>

    </div>
    <br>

  </div>
</div>